
#container{
  display: flex;
  height: 100vh;
background: var(--background-secundary-color) ;
}

#divForm {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  height: 100%;
  min-width: 700px;
  max-width: 40%;
  flex: 0 0 40%;
  align-items: center;
  position: fixed;
  box-shadow: 10px 0 32px rgba(0, 0, 0, 0.315);
  background: #045257;
}


#divForm .header {
  display: flex;
  align-items: center;
  margin: 0 72px;
  max-height: 96px;
  width: 100%;
  flex:1;
}

.header a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 50px;
}


#divForm #show a{
  margin-left: 45.5px;

}

.containerForm{
  display: flex;
  flex-direction: column;
  margin: 100px 150px 280px 100px;
}

#divForm form h1 {
  font-size: 50px;
  color: white;
}

#divForm form fieldset {
  margin-top: 40px;
  min-inline-size: auto;
  border: 0;

}

#divForm form legend {
  font-size: 20px;
  margin-bottom: 60px;
  opacity: 50%;
}


#divForm form .field {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

}



#divForm form .field input[type=text] {
  flex: 1;
  background: #F0F0F5;
  border-radius: 8px;
  border: 3px solid #72f5c3 !important;
  padding: 16px 24px;
  font-size: 16px;
  color: #6C6C80;
  outline: 0;
  width: 100%;
  font-weight: bold;
}



#divForm form .field input::placeholder {
  color: #A0A0B2;
}


#divForm form .field :disabled {
  cursor: not-allowed;
}


#divForm form button {
  width: 100%;
  height: 56px;
  border-radius: 8px;
  color: #FFF;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  margin-top: 20px;
  transition: background-color 0.2s;
  cursor: pointer;
  outline: 0;


  background: linear-gradient(-45deg, #045257, #23A6D5,#23D5AB );
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
  }
  @keyframes change{
  0% {
  background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
      }

  }



.registrations{
  margin-top: 30px;

}

div.register{

  box-sizing: border-box;
  border: 1px solid #5757572c;
  background: white;
  margin: 10px 10px 0 860px;
  padding: 0px;
  overflow: hidden;
  border-bottom: 0px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.062);

}
div.register:last-child{
  margin-bottom: 40px;
}

div.register .registerContainer{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-height: 200px;
  height: 200px;
    max-width: 970px;
    width: 970px;

}

div.register .registerImg{

  width: 354px;
  height: 200px;
  box-sizing: border-box;
  position: relative;
  display: block;
  margin-right: 30px ;
  background-color: rgba(102, 102, 102, 0.171);

}
.registerImg img{
  width: 354px;
  height: 200px;
  object-fit: contain;
}

div.register .registerContent{

  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: flex-start;
  flex: 1 1 0%;
  padding: 20px;
  overflow: auto;

}

div.register .titleDelete{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;

}
div.register .titleDelete h3{

  display: flex;
  flex-direction: column;
  min-width: 256px;
  margin-right: 24px;
  align-content: space-around;
  box-sizing: border-box;
  flex: 1 1 0%;

}

div.register .divTextPrice {
  display: flex;
  flex-direction: column;
  margin-right: 24px;

}


div.register .divTextPrice p {
  font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    max-height: 58px;
    margin: 10px 0px 8px;
    padding: 0px;
    overflow: hidden;
}
