:root {
  --primary-color: #34CB79;
  --title-color: #322153;
  --text-color: #6C6C80;
  --background-secundary-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #F0F0F5;
  -webkit-font-smoothing: antialiased;
  color: var(--text-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;

}

 input, textarea, select {
  font-family: Roboto, Arial, Helvetica, sans-serif;
outline: 0;
transition: 0.2s;
}

input:hover, textarea:hover, select:hover {
  transform: scale(1.03);

}

button{
  cursor:pointer;
  outline: 0;

}


h1, h2, h3, h4, h5, h6 {
  color: var(--title-color);
  font-family: Ubuntu;
}

